<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376589313283-ftvpb9dte5amn03vbjopnm3fkbbnaohf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376589313283-ftvpb9dte5amn03vbjopnm3fkbbnaohf</string>
	<key>API_KEY</key>
	<string>AIzaSyDhnMsqvJ4XevuDsJiYgmJZoJBHTd-zHCk</string>
	<key>GCM_SENDER_ID</key>
	<string>376589313283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentsCounselling</string>
	<key>PROJECT_ID</key>
	<string>students-admission-counselling</string>
	<key>STORAGE_BUCKET</key>
	<string>students-admission-counselling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376589313283:ios:d6c9b208fa4a00c4dc7536</string>
</dict>
</plist>